<?xml version="1.0"?>
<!-- 
    
-->
<configuration>
  <appSettings/>
  <connectionStrings>
    <add name="DB" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\wu\Desktop\teacher\shjujuku\DB.mdf;Integrated Security=True;Connect Timeout=30"/>
  </connectionStrings>
  <!--
    有关 web.config 更改的说明，请参见 http://go.microsoft.com/fwlink/?LinkId=235367。

    可在 <httpRuntime> 标记上设置以下特性。
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <!-- 
            Set compilation debug= "true" to insert debugging symbols
In the compiled page. But because of this
Performance is affected, so this value is only used during development
Set to true.
        -->
    <compilation debug="true" targetFramework="4.5"/>
    <!--
            ASP.NET can be configured using the <authentication> section
Secure authentication mode,
Identify incoming users. 
        -->
    <authentication mode="Windows"/>
    <!--
           If an unprocessed error occurs during the execution of the request,
The corresponding processing steps can be configured through the <customErrors> section. Specifically,
Developers can configure through this section
HTML error page to display
Instead of error stack tracking.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <namespaces>
        <add namespace="System" />
        <add namespace="System.Data" />
        <add namespace="System.Collections" />
        <add namespace="System.Collections.Specialized" />
        <add namespace="System.Configuration" />
        <add namespace="System.Text" />
        <!-- etc -->
      </namespaces>
    </pages>
  </system.web>
</configuration>